/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}





body{
    font-family: 'Inter', sans-serif;
}
header{
    background-color: black;
    color: #fff;
    text-align: center;
    height: 150px;
    line-height: 150px;
    font-size: 30px;
}
h2{
  font-size: 30px;
}
#biography{
    padding:100px 50px 150px;
    border-bottom: 5px solid black;
    margin-bottom: 30px;
}
.orda{
    float: left;
    margin-right: 40px;
    width: 700px;
}
#biography h2{
  margin: 15px 0;
  }
.flex-container{
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid black;
  margin-bottom: 30px;
  padding: 0 150px;
}
.flex-container-four{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.pctr{
    text-align: center;
    margin-bottom: 30px;
  }
.pctr img{
    width: 500px;
    height: 350px;
    margin:30px auto 10px;
    border-radius: 0px;	
    transition: 0.5s;
}
.pctr img:hover{
  border-radius: 40px;	
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.pctr p{
  color: gray;
  margin-bottom: 30px;
  width: 500px;
}
footer{
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
	
