body{
    font-family: 'Roboto', sans-serif;;
    padding: 0 25%;
}
header{
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    text-align: center;
    padding: 5px 0 ;
    color: white;
}
.block{
    border: 3px solid rgb(0, 0, 0);
    padding: 20px 45px;
    margin-top: -50px;
}
#buttons{
    text-align: center;
}
img{
    display: block;
    height: 100px;
    width: 80px;
    margin-bottom: 10px;
    margin-left: 30px;
}
#cont{
    padding: 0 50px 0;
    margin-bottom: 15px;
}
.blockh{
    display: inline-block;
    position: relative;
    bottom: 15px;
    left: 50px;
    background-color: white;
}
