* {
	padding: 0;
	margin: 0;
	}
/**************************/

table{
    margin: auto;
}
.visitcard{
    width: 692px;
    height: 384px;
    font-family: "Inter", sans-serif;
    color: #fff; 
    border:1px solid #000066;
    border-spacing: 0px;
    background-color: #000066;
    margin-top: 20px;
    padding-left: 40px;
    box-shadow:   0 0 10px rgba(0,0,0,0.5);
}
.image{
    background-image: url("../IMG/slice3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 310px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: aquamarine;
}
.name{
    padding-top: 20px;
}
.front{
    padding-bottom: 80px;
}
.contacts{
    padding-bottom: 30px;
}